In [ ]:
#1
# Data Types: Integers, Floats, Booleans, Strings, Lists, Tuples, Sets, Dictionaries
# Operators: Arithmetic, Assignment, Comparison, Logical, Membership, Identity

# *  multipication operator
# 'hello'  Data type string
# -87.8  negative integer 
# -  sub traction Arithmetic operator
# /  division Arithmetic operator
# +  addition Arithmetic operator
# 6  data type integer value

In [31]:
#2
# spam as a variable can be assign to a any Data Types , Data Types: Integers, Floats, Booleans, Strings, Lists, Tuples, Sets, Dictionaries
# if we take 'spam' as a Data type Strings  it only a string data type , cannot assign to other Data Types

In [ ]:
#3
# Python has the following data types built-in by default

# Text Type : str
# Numeric Types: int, float, complex
# Sequence Types: list, tuple, range
# Mapping Type: dict
# Set Types: set
# Boolean Type: bool

# Sequence Types: list 
# List is an ordered sequence of items. 
# It is one of the most used datatype in Python and is very flexible.
# All the items in a list do not need to be of the same type

# Sequence Types:tupple
# Tuple is an ordered sequence of items same as a list. 
# The only difference is that tuples are immutable.
# Tuples once created cannot be modified.

# Text Type: str
# String is sequence of Unicode characters.
# use single quotes or double quotes to represent strings

In [ ]:
#4  this question is not clear to me , I will answer what I undestand

# In mathematics expression  make of  numbers, symoles and operators ( such a  +,-, *./ etc) grouped togather 
# that show the value of something.
# Expression = (Number, Math Operator, Number)
# eg:
# 3+4
# 5-x/4=100    5-x/4  is the expression

In [1]:
#5
# spam is a variable and it assign the integer value 10
spam = 10
type(spam)

int

In [1]:
#6

bacon=22
print(bacon+1)

23

In [3]:
#7.1
print('spm' + 'spamspam')

spmspamspam

In [4]:
#7.2
print('spam'*3)

spamspamspam

In [ ]:
# 8
# need to think about variable nameing conversions
# there are some rules need to fllow while give a name for a variable
# Rule-1: start variable name with an alphabet or underscore(_) character.
# Rule-2: A variable name can only contain A-Z,a-z,0-9 and underscore(_).
# Rule-3: cannot start the variable name with a number.
# Rule-4: cannot use special characters with the variable name such as such as $,%,#,&,@.-,^ etc.
# Rule-5: Variable names are case sensitive. For example str and Str are two different variables.
# Rule-6: Do not use reserve keyword as a variable name. for example keywords like class, for, def, del, is, else, try, from, etc.

# under the Rule_1  egg can take asa variable name , under Rule_3  100 cannot take like as a variable name

In [18]:
# 9
# Which of the following three functions may be used to convert a value to an integer, a
# floating-point number, or a string?

# we can use function  int() to convert floating-point number to an integer
a= 67.7
print(a)
type(a)
print(int(a))
type(int(a))

67.7
67

int

In [24]:
a=int(input(" please enter a integer numbere"))
type(a)

 please enter a integer numbere11

int

In [27]:

# can use function float()  to convert a integer value to a float value
a=50
type(a)

b=float(a)
print(b)
type(b)

50.0

float

In [10]:
#10
# 10. What is the error caused by this expression? What would you do about it?

print('I have eaten' + '99' +'burritos.')

I have eaten99burritos.